.main-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-info {
    width: 600px;
    height: 600px;
    order: 2
}

.field {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;

}



.square {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: solid 5px black;
}