

:root {
    --bg-dark: #000000;
    --gold: #BDAE82;
    --white: #FFFFFF;
    --font-merriweather: bold 40px Merriweather;
    --font-inter: 20px Inter;
    --font-inter-bold: bold 20px Inter;
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg-dark);
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.header-container {
    background-image: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 50px;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font: var(--font-inter);
    color: var(--white);
    line-height: 50px;
    text-align: center;
    transition: 0.3s;
    
}

.nav-link:hover {
    color: var(--gold);
}

.main-container {
    display: flex;
    flex-direction: column;
}
    

ul {
    padding: 0;
    margin: 0;
}


.header-logo {
    background-image: url('./assets/svg/header-logo.svg');
    background-repeat: no-repeat;
    transition: 0.3s;
    background-position: 0 3px;
    width: 60px;
    height: 60px;
    margin: 25px auto 20px 15px;
    

}

.header-logo:hover {
    filter: invert(24%) sepia(35%) saturate(290%) hue-rotate(7deg) brightness(87%) contrast(87%);
}
.hero-container {
    background-image: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 660px;
    padding: 160px 0 0 80px;
    
}

.hero-content {
    width: 500px;
    height: 330px;
}

.hero-container-title {
    font: var(--font-merriweather);
    font-size: 60px;
    line-height: 120px;
    color: var(--white);
    width: 500px;
    height: 120px;
    margin: 0;

}

.hero-container-text {
    font: var(--font-inter);
    color: var(--white);
    line-height: 40px;
    width: 470px;
    height: 120px;
    padding-top: 10px;
    padding-right: 30px;
    margin: 0;

}
.button-one {
    width: 220px;
    height: 55px;
    background-color: var(--gold);
    border: 0;
    font: var(--font-inter);
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    
}

.button-one:hover {
    color:var(--white);
}

.button-two {
    width: 220px;
    height: 55px;
    background-color: var(--bg-dark);
    border: 2px solid var(--gold);
    box-sizing: border-box;
    font: var(--font-inter);
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: var(--gold);
    transition: 0.3s;
}

.button-two:hover {
    color: var(--white);
}

.button-container {
    padding-top: 25px;
}


.language-switch {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--font-inter-bold);
    color: var(--white);
    line-height: 50px;
    margin: 20px 20px 20px 0;
    text-align: center;
}

.english {
    color: var(--gold);
}

.skills-container {
    height: 382px;
    background-color: var(--bg-dark);
    padding-top: 100px;
   
}

.section-title-container {
    width: 700px;
    margin: 0 auto;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    overflow: hidden;
    
    
}
.section-title-skills {
    width: 152px;
    height: 80px;
    font: var(--font-merriweather);
    color: var(--gold);
    line-height: 80px;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-dark);
    text-align: center;
}

.section-title-portfolio {
    width: 220px;
    height: 80px;
    font: var(--font-merriweather);
    color: var(--gold);
    line-height: 80px;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-dark);
    text-align: center;
}

.section-title-video {
    width: 154px;
    height: 80px;
    font: var(--font-merriweather);
    color: var(--gold);
    line-height: 80px;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-dark);
    text-align: center;  
}

.section-title-price {
    width: 142px;
    height: 80px;
    font: var(--font-merriweather);
    color: var(--gold);
    line-height: 80px;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-dark);
    text-align: center; 
}
.skill-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1400px;
    height: 242;
    padding: 60px 20px 0;
    
}

.skill-item {
    width: 320px;
    height: 240px;
}

.skills-image-one {
    background-image: url(assets/svg/camera\ 1.svg);
    background-size: 62px 50px;
    background-repeat: no-repeat;
    background-position: center top;
}

.skills-image-two {
    background-image: url(assets/svg/video\ 1.svg);
    background-size: 60px 50px;
    background-repeat: no-repeat;
    background-position: center top;
}

.skills-image-three {
    background-image: url(assets/svg/image\ 1.svg);
    background-size: 66px 50px;
    background-repeat: no-repeat;
    background-position: center top;
}

.skills-image-four {
    background-image: url(assets/svg/mic\ 1.svg);
    background-size: 32px 50px;
    background-repeat: no-repeat;
    background-position: center top;
}
.skills-image {
    height: 50px;
}

.skills-title {
    font:var(--font-inter-bold);
    color: var(--white);
    line-height: 40px;
    text-align: center;
    width: 280px;
    height: 40px;
    padding:  50px 20px 0;
}

.skills-text {
    font: var(--font-inter);
    font-size: 18px;
    color: var(--white);
    line-height: 36px;
    text-align: center;
    width: 280px;
    height: 72px;
    padding: 20px 20px 8px;
    
}

.portfolio-container {
    background-color: var(--bg-dark);
    padding-top: 100px;
}

.portfolio-buttons {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap:5px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 20px 0;
    gap: 25px;
    
}

.portfolio-image {
    width: 450px;
    height: 560px;
}

.portfolio-image:nth-child(1) {
    background: url(assets/img/portfolio-img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-image:nth-child(2) {
    background: url(assets/img/portfolio-img-2.jpg);
    background-repeat: no-repeat;
}

.portfolio-image:nth-child(3) {
    background: url(assets/img/portfolio-img-3.jpg);
    background-repeat: no-repeat;
}

.portfolio-image:nth-child(4) {
    background: url(assets/img/portfolio-img-4.jpg);
    background-repeat: no-repeat;
}

.portfolio-image:nth-child(5) {
    background: url(assets/img/portfolio-img-5.jpg);
    background-repeat: no-repeat;
}

.portfolio-image:nth-child(6) {
    background: url(assets/img/portfolio-img-6.jpg);
    background-repeat: no-repeat;
}

.video-container {
    background-color: var(--bg-dark);
    padding-top: 100px
}

.video-player {
    padding: 60px 20px 0;
    height: 705px;
    background: url(assets/img/video-player.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    background: url(assets/svg/Play_hover.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 130px;
    height: 130px;
    transition: 0.3s;
}   

.play-button:hover {
    filter: invert(24%) sepia(35%) saturate(290%) hue-rotate(7deg) brightness(87%) contrast(87%);
}


.price-container {
    padding-top: 100px;
    background-color: var(--bg-dark);
}

.price-items {
    display:flex;
    height: 505px;
    width: 1400px;
    padding: 60px 20px 100px;
    justify-content: space-between;

}

.price-item {
    width: 450px;
    box-sizing: border-box;
    border: 3px solid var(--gold);
    padding: 43px 0 20px;
}

.sub {
    display: block;
    font: var(--font-merriweather);
    font-size: 28px;
    line-height: 56px;
    color:var(--white);
    text-align: center;
}

.price {
    display: block;
    font: var(--font-merriweather);
    font-size: 24px;
    line-height: 48px;
    color: var(--gold);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sub-description {
    display: block;
    font: var(--font-inter);
    font-size: 18px;
    line-height: 36px;
    color: var(--white);
    text-align: center;
    height: 180px;
}

.price-button {
    display: block;
    padding: 40px 115px 43px;
}

.contact-container {
    height: 445px;
    background: url(assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 60px 20px 195px 970px;
    
}   



.contacts-title {
    font: var(--font-merriweather);
    font-size: 40px;
    line-height: 80px;
    color: var(--gold);
    margin: 0;
    height: 80px;
    padding-bottom: 20px;
}

.input-form {
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 450px;
    border: 2px solid var(--gold);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font: var(--font-inter);
    font-size: 20px;
    line-height: 40px;
    color: var(--gold);
}


::placeholder {
    font: var(--font-inter);
    font-size: 20px;
    line-height: 40px;
    color:var(--gold);
    padding: 5px 0 5px 20px;
}



.textarea {
    box-sizing: border-box;
    border: 2px solid var(--gold);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);;
    resize: none;
    width: 450px;
    height: 100px;
    font: var(--font-inter);
    font-size: 20px;
    line-height: 40px;
    color: var(--gold);
    
}

.input-form-container {
    padding-top: 20px;
}

.textarea-container {
    padding: 20px 0 30px;
}

.footer-container {
    height: 150px;
    width: 1440px;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    font: var(--font-inter);
    font-size: 20px;
    line-height: 50px;
    color: var(--white);
}

.github-link {
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
    display: block;
}

.github-link:hover {
    color: var(--gold);
}

.rsschool-link {
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}

.rsschool-link:hover {
    color: var(--gold);
}

.footer-links {
    list-style: none;
    display: flex;
    width: 188px;
    height: 50px;
    gap: 20px;
    align-items: center;
    padding-right: 20px;

}

.link-name {
    width: 32px;
    height: 32px;
}

.footer-link {
    width: 32px;
    height: 32px;
    transition: 0.3s;
}

.footer-link:hover {
    filter: invert(24%) sepia(35%) saturate(290%) hue-rotate(7deg) brightness(87%) contrast(87%);
}


.footer-data {
    display: flex;
    width: 182px;
    height: 50px;
    gap: 20px;
    padding-left: 20px;
}

.copyright {
    display: block;
}

.year {
    display: block;
}

@media (max-width: 1400px) {
    .container {
        width: 768px;
        padding: 0;
        
        
    }

    :root {
        --font-merriweather: 32px Merriweather;
        --font-inter: 18px Inter;
    }

    .header-container {
        width: 768px;
        padding: 0;
        background-image: url(assets/img/hero-tablet.jpg);
        
    
    }

    .hero-container {
        height: 422px;
        background-image: url(assets/img/hero-tablet.jpg);
        padding: 78px 0 0 60px;
    
    }

    .hero-container-title {
        font-family: Merriweather;
        font-size: 32px;
        line-height: 64px;
        height: 64px;
    
    }

    .button-container {
        padding: 0;
    }

    .hero-container-text{
        padding: 20px 318px 60px 0;
        height: 72px;
        width: 390px;
        line-height: 24.2px;
        font-weight: 400;
        font: 20px Inter;
    }

    .button-one {
        height: 54px;
        width: 219px;
        font: 20px Inter;
        line-height: 40px;
    }
    .skills-container {
        box-sizing: border-box;
        width: 768px;
        height: 729px;
        padding: 80px 20px 13px;
    }

    .skill-items {
        box-sizing: border-box;
        width: 728px;
        height: 556px;
        padding: 9px 44px 27px 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-end;
        row-gap: 36px;
        
    }

    .portfolio-container {
        width: 768px;
        height: 3870px;
        padding-top: 80px;
    }

    .section-title-portfolio {
        font: var(--font-merriweather);
        line-height: 80px;
        font-size: 32px;
        font-weight: bold;
        box-sizing: border-box;
        width: 185px;
        height: 80px;
        padding: 0 20px;
        
    }

.portfolio-images {
    justify-content: center;
}

.section-title-container {
    width: 364px;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    overflow: hidden;
    
}

.section-title-skills {
    font: var(--font-merriweather);
    line-height: 40.22px;
    font-size: 32px;
    font-weight: bold;
    box-sizing: border-box;
    width: 131px;
    height: 80px;
    padding: 20px 20px;
}

.skill-item {
    width: 300px;
    height: 224px;
}

.skills-image-one {
    padding: 0 119px;
}

.skills-image-two{
    padding: 0 120px ;
}
 .skills-title {
     padding: 30px 10px 20px;
 }

 .skills-text {
     padding: 0 10px 40px;
     line-height: 21.78px;
 }

 .portfolio-buttons {
    width: 445px;
    height: 115px;   
    padding: 50px 161px 60px 162px;
    flex-wrap: wrap;

 }

 .portfolio-images {
     padding-top: 0;
 }

 .video-container {
     
 }

} 