

:root {
    --bg-dark: #000000;
    --gold: #BDAE82;
    --white: #FFFFFF;
    --font-merriweather: bold 60px Merriweather;
    --font-inter: 20px Inter;
    --font-inter-bold: bold 20px Inter;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    background-image: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 50px;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font: var(--font-inter);
    color: var(--white);
    line-height: 50px;
    text-align: center;
    
}

.nav-link:hover {
    color: var(--gold);
}


    

ul {
    padding: 0;
    margin: 0;
}


.header-logo {
    background-image: url('./assets/svg/header-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    background-position: 0 3px;
    width: 50px;
    height: 50px;
    margin: 20px auto 20px 20px;

}

.header-logo:hover {
    filter: invert(24%) sepia(35%) saturate(290%) hue-rotate(7deg) brightness(87%) contrast(87%);
}
.hero-container {
    background-image: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 820px;
    padding: 180px 0 0 92px;
    
}

.hero-content {
    width: 500px;
    height: 330px;
}

.hero-container-title {
    font: var(--font-merriweather);
    line-height: 120px;
    color: var(--white);
    width: 500px;
    height: 120px;
    margin: 0 0 10px 0;
}

.hero-container-text {
    font: var(--font-inter);
    color: var(--white);
    line-height: 40px;
    width: 470px;
    height: 120px;
    margin: 0 30px 0 0;

}
.button-one {
    width: 220px;
    height: 55px;
    background-color: var(--gold);
    border: 0;
    font: var(--font-inter);
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    
}

.button-one:hover {
    color:var(--white);
}

.button-container {
    padding-top: 25px;
}


.language-switch {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--font-inter-bold);
    color: var(--white);
    line-height: 50px;
    margin: 20px 20px 20px 0;
    text-align: center;
}

.english {
    color: var(--gold);
}


