.container {

}

.main-container {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player {
    width: 25%;
    height: 50vh;
    background-color: bisque;
}

.song-picture {
    height: 70%;
}

.control-panel {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
}

.play-button {
    width: 30%;
    height: 60%;
    background-image: url(assets/svg/play.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center 10px;
}

.play-button.pause {
    background-image: url(assets/svg/pause.png);
}

.song-name {
    width: 40%;
}

.prev-next-btns {
    width: 30%;
}

.timeline-wrapper {
    width: 100%;
    height: 40%;
}

.timeline {
    width: 300px;
    height: 18px;
    background: linear-gradient(to top, transparent 0px, transparent 6px, black 7px, black 11px, transparent 12px, transparent 18px);
    position: relative;

    
    
}

.progress-bar {
    width: 6px;
    height: 12px;
    background-color: blueviolet;
    position: absolute;
    left: 0px;
    bottom: 3px;
}

.prev-btn {
    width: 100%;
    height: 50%;
    background-image: url(assets/svg/backward.png);
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center;
}

.next-btn {
    width: 100%;
    height: 50%;
    background-image: url(assets/svg/forward.png);
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center;
}